# https://docs.github.com/code-security/dependabot/working-with-dependabot/dependabot-options-reference
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 3
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "10:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5
      include:
        - "*"

  - package-ecosystem: "bun"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "10:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5
      semver-patch-days: 3
      semver-minor-days: 7
      semver-major-days: 15
      include:
        - "*"
    # ignore:
    #   - dependency-name: "*"
    #     update-types: ["version-update:semver-major"]
    groups:
      bun:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "@types/bun"
      hono:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "hono"
      cloudflare:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "wrangler"
          - "@cloudflare/*"
      biome:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "@biomejs/*"
      deps:
        dependency-type: "production"
        update-types: ["minor", "patch"]
        patterns:
          - "*"
      dev-deps:
        dependency-type: "development"
        update-types: ["minor", "patch"]
        patterns:
          - "*"
